/* .card-menu-company {
  background: linear-gradient(to right, #33539E, #ACC0FE);
}

.card-menu-registered {
  background: linear-gradient(to right, #33539E, #554FAD);
}

.card-menu-intern {
  background: linear-gradient(to right, #ACC0FE, #33539E);
} */

.btn-purple {
	background-color:#0087C8;
}